.bg-primary {
  background-color: #8080800c;
}
.menu-active {
  color: #fff;
  border-bottom-color: #fff !important;
}

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #1c90a6;
  color: #1c90a6;
  cursor: pointer;
  border-radius: 8px;
  font-family: "Baloo Bhai 2", cursive;
  padding: 4px 10px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
  box-shadow: 0 0 40px 40px #1c90a6 inset;
}
.btn-2 {
  border: 2px solid #def6fb;
  color: #def6fb;
}
.btn-2:hover,
.btn-2:focus {
  color: #1c90a6;
  outline: 0;
  box-shadow: 0 0 40px 40px #def6fb inset;
}

.form input,
.form textarea {
  border: 1px solid #8080803f;
  border-radius: 0.3rem;
  margin: 7px 0;
  padding: 7px 13px;
}
.form input:focus,
.form textarea:focus {
  outline: none;
}

.icon-footer {
  color: #ffffffce;
  padding-top: 7px;
}
.footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffffce;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.footer a:hover {
  background-color: #f13895;
  border: none;
  color: #fff;
}
.btn-2 {
  padding: 5px 15px;
  margin-left: 5px;
}
.about-card {
  background-image: url("/public/about-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
