@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h3 {
    @apply text-2xl font-semibold font-baloo-bhai;
  }
  h1 {
    @apply text-3xl md:text-5xl font-bold py-1 uppercase text-gray-800 font-baloo-bhai;
  }
}
@layer utilities {
  .gradiant-text {
    font-weight: 500;
    background: linear-gradient(
      to right,
      #1c99fe 20.69%,
      #5c2ce0 50.19%,
      #f00b31 79.69%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@layer components {
  /* header component  */
  .header-wrapper {
    @apply z-20 px-3 md:px-10 py-2 h-auto grid grid-cols-3 bg-white sticky top-0 shadow;
  }
  .menu-container {
    @apply flex items-center space-x-4;
  }
  .menu-container a {
    @apply cursor-pointer text-base gap-y-2 border-b-[3px] border-white 
    font-baloo-bhai transition-all hover:text-primary hover:border-primary uppercase
    font-semibold;
  }

  /*----------------- 
    banner component 
  ------------------*/
  .banner-container {
    @apply py-10 md:grid grid-cols-2 lg:gap-20 lg:px-28 bg-white;
  }
  .tag {
    @apply text-base font-semibold text-gray-500;
  }
  .profile {
    @apply w-96 h-96;
  }

  /*--------------- 
    about component
  ----------------- */
  #about-container {
    @apply bg-[#ebf8ff] px-5 md:pr-5 md:pl-0 lg:px-10 pt-20 text-justify md:grid
    grid-cols-2 scroll-m-16;
  }

  /*------------------- 
    services component 
  --------------------*/
  #service header {
    @apply md:w-2/4 px-2 md:px-0 mx-auto my-10 text-center;
  }
  .service-container {
    @apply px-5 space-y-5 md:space-y-0 lg:px-10 md:grid grid-cols-2 lg:grid-cols-3 
    gap-5;
  }
  .service-container .item {
    @apply border rounded-md px-5 py-2 hover:shadow-lg;
  }
  .service-item-header {
    @apply text-center mb-2 text-primary hover:gradiant-text;
  }
  .language {
    @apply border border-gray-300 text-base font-medium py-1 px-2 inline-block m-1 
    rounded bg-gray-200;
  }

  /*---------------
   skill component 
   ----------------*/
  .skill-container {
    @apply pt-20;
  }
  .skill-container header {
    @apply text-center;
  }
  .skills {
    @apply grid grid-cols-3 md:grid-cols-5 gap-3 px-5 lg:px-24 mt-10;
  }
  .skills img {
    @apply w-[50px] h-[50px] object-contain mx-auto;
  }
  .skills .item {
    @apply rounded text-center pt-3 bg-white shadow hover:shadow-lg relative;
  }
  .skill-lavel {
    @apply font-semibold text-sm bg-gradient-to-r text-gray-700 from-green-500 
    to-green-100 font-baloo-bhai py-1 rounded-b;
  }

  /*------------------ 
    project component 
    -----------------*/
  #project-container {
    @apply pb-20 pt-16;
  }
  #project-container header {
    @apply md:w-2/4 mx-auto my-10 text-center;
  }
  .project-wrapper {
    @apply lg:grid grid-cols-2 gap-5 px-5 space-y-5 lg:space-y-0;
  }
  .project-item {
    @apply mb-5 md:mb-0 md:grid grid-cols-2 gap-3 px-5 py-4 shadow-md bg-white
     hover:bg-blue-50 rounded;
  }
  .project-item img {
    @apply w-full md:w-[250px] h-[200px] object-fill object-center;
  }
  .project-item .name {
    @apply text-2xl uppercase font-semibold font-baloo-bhai text-center md:text-left 
    mt-4 md:mt-0;
  }
  .project-item .title {
    @apply text-base font-medium text-gray-600 -mt-1 mb-2 text-center md:text-left;
  }
  .project-item a {
    @apply border bg-gray-100 border-gray-300 px-3 py-1 font-medium rounded
     text-gray-700 space-x-2 hover:bg-gray-700 hover:text-gray-100;
  }
  .project-item a i {
    @apply text-xs;
  }
  .project-item a.demo-btn {
    @apply bg-primary text-gray-100 hover:bg-gray-700;
  }

  /*--------------------- 
    contact me component 
  -----------------------*/
  #contact-container {
    @apply py-20 px-5 lg:px-16 bg-[#ebf8ff] text-base md:grid grid-cols-2 scroll-m-10
    md:text-left;
  }

  /*------------ 
    login page  
  -------------*/
  .login-container {
    @apply flex flex-col h-96 w-96 justify-center bg-white px-10 rounded-lg 
    shadow-lg;
  }

  /*------------------
     footer component 
    -----------------*/
  .footer-container {
    @apply bg-gray-700 p-5 flex flex-col md:flex-row gap-3 justify-between items-center;
  }
  .footer-container .main-wrapper {
    @apply flex justify-between gap-10;
  }
  .footer-container .name {
    @apply flex items-center text-base font-bold text-white;
  }
  .see-more-btn {
    @apply bg-primary text-gray-100 border border-gray-300 px-3 py-1 font-medium rounded
      hover:bg-gray-700 hover:text-gray-100;
  }
}

a,
.see-more-btn {
  transition: all 0.3s linear;
}
