@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h3 {
    @apply text-2xl font-semibold font-baloo-bhai;
  }
  h1 {
    @apply text-3xl md:text-5xl font-bold py-1 uppercase text-gray-800 font-baloo-bhai;
  }
}
@layer utilities {
  .gradiant-text {
    background: linear-gradient(to right, #1c90a6, #1ca66f82);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@layer components {
  /* header component  */
  .header-wrapper {
    @apply z-20 px-3 md:px-10 py-2 h-auto grid grid-cols-3 sticky top-0 shadow bg-primary text-light;
  }
  .menu-container {
    @apply flex items-center space-x-4;
  }
  .menu-container a {
    @apply cursor-pointer text-base gap-y-2 border-b-[3px] 
    font-baloo-bhai transition-all border-primary hover:text-white hover:border-white uppercase
    font-semibold;
  }

  /*----------------- 
    banner component 
  ------------------*/
  .banner-container {
    @apply py-10 md:grid grid-cols-2 lg:gap-14 lg:pr-28 bg-[#c2e8f3];
  }
  .tag {
    @apply text-base font-semibold text-primary;
  }

  /*--------------- 
    about component
  ----------------- */
  #about-container {
    @apply bg-[#ebf8ff] px-5 md:pr-5 md:pl-0 lg:px-10 pt-10 text-justify md:grid
    grid-cols-2 scroll-m-16 pb-5;
  }

  .about-card > div {
    @apply w-96  flex flex-col items-center justify-center mt-8 ml-4;
  }

  /*------------------- 
    services component 
  --------------------*/
  #service header {
    @apply md:w-2/4 px-2 md:px-0 mx-auto my-10 text-center;
  }
  .service-container {
    @apply px-5 space-y-5 md:space-y-0 lg:px-10 md:grid grid-cols-2 lg:grid-cols-3 
    gap-5;
  }
  .service-container .item {
    @apply border rounded-md px-5 py-2 hover:shadow-lg bg-light;
  }
  .service-item-header {
    @apply text-center mb-2 text-primary;
  }
  .language {
    @apply text-base font-medium py-1 px-2 inline-block m-1 
    rounded bg-primary text-white;
  }

  /*---------------
   skill component 
   ----------------*/
  .skill-container {
    @apply pt-20;
  }
  .skill-container header {
    @apply text-center;
  }
  .skills {
    @apply grid grid-cols-3 md:grid-cols-5 gap-3 px-5 lg:px-24 mt-10;
  }
  .skills img {
    @apply w-[50px] h-[50px] object-contain mx-auto;
  }
  .skills .item {
    @apply rounded text-center pt-3 shadow hover:shadow-lg relative bg-light;
  }
  .skill-lavel {
    @apply font-semibold text-sm bg-gradient-to-r text-gray-700 from-primary 
    to-green-100 font-baloo-bhai py-1 rounded-b;
  }

  /*------------------ 
    project component 
    -----------------*/
  #project-container {
    @apply pb-20 pt-16;
  }
  #project-container header {
    @apply md:w-2/4 mx-auto my-10 text-center;
  }
  .project-wrapper {
    @apply lg:grid grid-cols-2 px-5 space-y-5 lg:space-y-0;
  }
  .project-item {
    @apply mb-5 md:mb-0 md:grid grid-cols-2 gap-3 px-5 py-4 bg-light
     hover:bg-primary border border-primary;
  }
  .project-item img {
    @apply w-full md:w-[250px] h-[200px] object-fill object-center;
  }
  .project-item .name {
    @apply text-2xl uppercase font-semibold font-baloo-bhai text-center md:text-left 
    mt-4 md:mt-0;
  }
  .project-item .title {
    @apply text-base font-medium text-primary -mt-1 mb-2 text-center md:text-left;
  }
  .project-item:hover .title,
  .project-item:hover .name,
  .project-item:hover p {
    @apply text-white;
  }
  .project-item a {
    @apply border bg-gray-100 border-gray-300 px-3 py-1 font-medium rounded
     text-gray-700 space-x-2 hover:bg-gray-700 hover:text-gray-100;
  }
  .project-item a i {
    @apply text-xs;
  }
  .project-item a.demo-btn {
    @apply bg-primary text-gray-100 hover:bg-gray-700;
  }

  /*--------------------- 
    contact me component 
  -----------------------*/
  #contact-container {
    @apply py-20 px-5 lg:px-16 bg-light text-base md:grid grid-cols-2 scroll-m-10
    md:text-left;
  }
  .alart-wrapper {
    @apply fixed top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4 bg-primary py-7 px-20 
    rounded-md shadow-lg text-lg text-center text-white;
  }
  .alart-wrapper i {
    @apply text-2xl;
  }

  /*------------ 
    login page  
  -------------*/
  .login-container {
    @apply flex flex-col h-96 w-96 justify-center bg-white px-10 rounded-lg 
    shadow-lg;
  }

  /*------------------
     footer component 
    -----------------*/
  .footer-container {
    @apply bg-gray-700 p-5 flex flex-col md:flex-row gap-3 justify-between items-center;
  }
  .footer-container .main-wrapper {
    @apply flex justify-between gap-10;
  }
  .footer-container .name {
    @apply flex items-center text-base font-bold text-white;
  }
  .see-more-btn {
    @apply bg-primary text-gray-100 border border-gray-300 px-3 py-1 font-medium rounded
      hover:bg-gray-700 hover:text-gray-100;
  }
}

a,
.see-more-btn,
.project-item {
  transition: all 0.3s linear;
}
